@font-face {
    font-family: 'upheavtt';
    src: url(upheavtt.ttf);
}

@font-face {
    font-family: 'webfont';
    src: url(000webfont.ttf);
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

.margins {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.title {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-family: upheavtt;
    font-size: 70px;
    color: rgb(70, 59, 59);
}

.card {
    background-color: rgb(196, 193, 224);
    border: 4px solid rgb(102, 91, 128);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 50%;
}

button {
    color: rgb(70, 59, 59);
    font-family: webfont;
    font-size: 24px;
}