.card {
    resize: both;
    overflow: hidden;
    outline: 1px solid;
}

.canvasdiv {
    height: 100%;
    width: 100%;
}

.card-bar {
    outline: 1px solid;
    overflow: hidden;
}

.card-group>* {
    margin: 5px;
}

.card-button-group {
    float: right;
}

.card-column {
    display: table-cell;
    outline: 1px solid;
}

#editwindow {
    display: table-row;
}

#toolbar {
    text-align: center;
}

#toolbar>* {
    display: inline-block;
}